body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}


th, td {
    border: 1px solid #333;
    padding: 6px;   
    text-align: center;
    font-size: 14px;
}


th {
    background-color: #eee;
}


input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: rgb(25, 0, 255);
}
